.subHeader_navSocial{
 
   .list{
     display: flex;
     align-items: center;
     li{
       
       &:first-child{
         margin-left: 0;
       

         
       }
       margin-left: 11px;
     }
   }
 }