.subHeader{
   position: relative;
   background: rgba(54, 54, 54, 0.04);
   padding: 16px 0;
   .row{
    
     justify-content:space-between;
      display: flex;
      align-items: center;
    
   }
 
   .subHeader_nav{
    
     z-index: 222;
     .list{
       display: flex;
       
 
       li{
         margin-left: 69px;
         
         &:first-child{
           margin-left: 0;
         }
       }
 
       a{
     font-size: 16px;
     font-weight: 700;
     line-height: 19px;
       }
     }
   }
   
 
   
 
   .dropMenu{
     position: absolute;
     width: 100%;
     height: 100vh;
     background-color: rgba(#2A2A2A, 0.65);
    top: 0;
    left: 0;
    z-index: 999;
     transition: .4s all ease-in;
     opacity: 0;
    visibility: hidden;
    .dropMenu_row{
      width: 100%;
      height: 400px;
      display: flex;
      background: #FFFBF8;
      box-shadow: 5px 6px 15px rgba(251, 121, 27, 0.63);
    }
    
    .dropMenu_setLink{
      width: 70%;
      height: 100%;
      padding: 17px 30px;
     
    }
 
    .dropMenu_nav{
     width: 30%;
     height: 100%;
     border-right: 2px solid rgba(42, 42, 42, 0.26);
     overflow-y: auto;
    }
    .dropMenu_navList{
 
 
     .list{
       position: relative;
       padding: 17px 29px;
       cursor: pointer;
     }
     
     
    }
 
    .dropMenu_burger{
      border-bottom: 2px solid rgba(42, 42, 42, 0.26);
      display: flex;
     align-items: center;
     padding: 16px 30px;
     cursor: pointer;
      span{
        margin-right: 15px;
        width: 15px;
        height: 15px;
      }
      
    }
    
   }
   .burgerMenu{
     display: flex;
     align-items: center;
     font-size: 16px;
     font-weight: 700;
     
     cursor: pointer;
     .burger{
       width: 16px;
       height: 14px;
       margin-right: 14px;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
 
       &::before{
         content: '';
         position: absolute;
         left: 0;
         width: 100%;
         background-color: #2A2A2A;
       }
 
       &::after{
         content: '';
         position: absolute;
         left: 0;
         width: 100%;
         background-color: #2A2A2A;
       }
 
       &::after{
         top: 0;
         height: 2px;
       }
       
       &::before{
         bottom:  0;
         height: 2px;
       }
 
       
 
       span{
         width: 100%;
         height: 1.6px;
         background-color: #2A2A2A;
       }
     }
   }
 
   .dropMenuActive{
     opacity: 1;
     visibility: visible;
     
   }
 
 
   
 }
 .listActive{
   background: #F9A43F;
 
    }
 
 
    .DropWarhammer{
       display: none;
     .DropWarhammer_title{
 font-size: 20px;
 font-weight: 700;
 line-height: 23px;
 margin-bottom: 20px;
     }
 
     .DropWarhammer_nav{
       display: flex;
       justify-content: space-between;
 
 
       ul{
 
 
         li{
 
           a{
 font-size: 15px;
 font-weight: 700;
 line-height: 40px;
 
 
           }
         }
       }
     }
    }
 
    .DropWarhammerActive{
     display: block;
    }

    @media (max-width:1100px) {
      .subHeader_mobile{
        position: absolute;
        visibility: hidden;
      }

      .subHeader{
        padding: 8px 0;
        background: #FFFBF8; }
    }