.FooterMobileItem{
   margin-top: 25px;
   visibility: hidden;
   position: absolute;
   flex-direction: column;
   justify-content: flex-end;
  
   .FooterMobileItem_img{
      width: 170px;
      height: 40px;
      position: relative;
      z-index: 1;
      margin-bottom: 20px;
   }


   .FooterMobileItem_list{
      display: flex;
      justify-content: center;
      
      li{
         &:first-child{
            margin-left: 0;
         }
       margin-left: 12px;
      }
   
   }
}

@media (max-width:1105px) {

   
   .FooterMobileItem{
      visibility: visible;
      position: relative;
      display: flex;
     

   }
}

