
.swiperProductsContainer{
   position: relative;
}


.swiperSlideNext,.swiperSlidePrev{

   display: inline-block;
   position: absolute;
   z-index: 55;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   width: 25px;
   height: 25px;
   background: #2A2A2A;
   border-radius: 50%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 17px;

}
.swiperSlideNext{
left: 15px;
}
.swiperSlidePrev{
right: 15px;
}

.swiper-pagination-bullet{
   border-radius: 0;
   width: 22px;
   height: 3px;
   background: #FFFFFF;
   visibility: hidden;
   position: absolute;
}



@media (max-width:480px) {

   .swiperSlideNext,.swiperSlidePrev{
      visibility: hidden;
      
   }
   .swiper-pagination-bullet{
     
     
      visibility: visible;
      position: relative;
   }
   

}